<section id="whyChooseUs" class="pt-10 pb-16 bg-gray-100">
  <div class="container mx-auto">
    <h2 class="text-3xl font-semibold text-center mb-8">Why Choose Us</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <!-- Card 1 -->
      <div class="bg-white rounded-lg p-6 shadow-md">
        <div class="flex items-center justify-center mb-4">
          <img src="../../../../assets/icons/ic_register.png" alt="registration icon" width="64" height="64">
        </div>
        <h3 class="text-xl font-semibold mb-2 text-center">Effortless Registration</h3>
        <p class="text-gray-600">Register as a merchant seamlessly. Our team ensures a quick and hassle-free application process</p>
      </div>

      <!-- Card 2 -->
      <div class="bg-white rounded-lg p-6 shadow-md ">
        <div class="flex items-center justify-center mb-4">
          <img src="../../../../assets/icons/ic_manage.png" alt="manage product icon" width="64" height="64">
        </div>
        <h3 class="text-xl font-semibold mb-2 text-center">Streamlined Product Management</h3>
        <p class="text-gray-600">Easily manage your product listings. Add, edit, or remove products effortlessly to keep your offerings up-to-date</p>
      </div>

      <!-- Card 3 -->
      <div class="bg-white rounded-lg p-6 shadow-md">
        <div class="flex items-center justify-center mb-4">
          <img src="../../../../assets/icons/ic_graph.png" alt="Graph Analytics icon" width="64" height="64">
        </div>
        <h3 class="text-xl font-semibold mb-2 text-center">Insightful Sales Analytics</h3>
        <p class="text-gray-600">Generate detailed sales reports to analyze monthly and yearly trends. Make informed decisions for your business</p>
      </div>

      <!-- Card 4 -->
      <div class="bg-white rounded-lg p-6 shadow-md">
        <div class="flex items-center justify-center mb-4">
          <img src="../../../../assets/icons/ic_secure.png" alt="Secure transaction icon" width="64" height="64">
        </div>
        <h3 class="text-xl font-semibold mb-2 text-center">Secure Online Transactions</h3>
        <p class="text-gray-600">Enable customers to make secure online purchases. Our platform ensures straightforward and safe transactions</p>
      </div>
    </div>
  </div>
</section>
