<div class="container mx-auto min-h-screen bg-blue-50 p-4">
  <!-- back arrow button -->
  <div class="container mx-auto">
    <button
      class="flex items-center mb-4 text-gray-600 hover:text-gray-800"
      (click)="onBack()"
    >
      <i class="fa fa-arrow-left mr-2"></i>
      Back
    </button>
  </div>

  <div class="max-w-screen-xl mx-auto shadow-md border border-gray-300">
    <div class="flex flex-col lg:flex-row">
      <!-- Checkout Form (2/3 width) -->
      <div
        class="lg:w-2/3 bg-white rounded-lg p-6 shadow-md border border-gray-300"
      >
        <h2 class="text-2xl font-semibold mb-4">Contact Information</h2>
        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
          <!-- Name -->
          <div class="mb-4">
            <label for="name" class="block text-gray-600">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
            />
          </div>
          <!-- Email -->
          <div class="mb-4">
            <label for="email" class="block text-gray-600">Email Address</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
            />
          </div>
          <!-- Phone Number -->
          <div class="mb-4">
            <label for="phone" class="block text-gray-600">Phone Number</label>
            <input
              type="tel"
              id="phone"
              formControlName="phone"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
            />
          </div>
          <!-- Additional notes -->
          <div class="mb-4">
            <label for="notes" class="block text-gray-600"
              >Additional Notes</label
            >
            <textarea
              id="notes"
              formControlName="notes"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
            ></textarea>
          </div>
          <!-- Payment Method -->
          <div class="mb-6">
            <h3 class="text-lg font-semibold mb-2">Payment Method</h3>
            <!-- PayPal -->
            <label class="flex items-center mb-6">
              <input
                type="radio"
                formControlName="paymentMethod"
                value="paypal"
                class="mr-2"
              />
              <img
                src="../../../../assets/icons/ic_paypal.svg"
                alt="PayPal"
                class="w-40 h-10 object-contain mr-2"
              />
              (Paypal)
            </label>
            <!-- Credit Card -->
            <label class="flex items-center">
              <input
                type="radio"
                formControlName="paymentMethod"
                value="creditcard"
                class="mr-2"
              />
              <img
                src="../../../../assets/icons/ic_creditcard.png"
                alt="Credit Card"
                class="w-40 h-10 object-contain mr-2"
              />
              (Credit Card)
            </label>
          </div>
        </form>
      </div>

      <!-- Order Summary (1/3 width) -->
      <div
        class="lg:w-1/3 lg:ml-4 mt-4 lg:mt-0 bg-white rounded-lg p-6 shadow-md border border-gray-300"
      >
        <h2 class="text-2xl font-semibold mb-4">Order Summary</h2>
        <div class="flex items-start mb-4">
          <!-- Product Image -->
          <img
            src="{{ orderItem.image }}"
            alt="{{ orderItem.title }}"
            class="w-20 h-20 object-cover rounded-md"
          />

          <!-- Product Details -->
          <div class="ml-4">
            <!-- Title -->
            <h3 class="text-lg font-semibold">{{ orderItem.title }}</h3>
            <!-- Location -->
            <div class="inline-flex justify-center items-center">
              <i class="fa fa-map-marker text-primary text-sm mr-2"></i>
              <p class="text-gray-600">{{ orderItem.location }}</p>
            </div>
            <!-- Category -->
            <p class="text-gray-600">{{ orderItem.category }}</p>
            <!-- Desc -->
            <p class="text-gray-600">{{ orderItem.description }}</p>
          </div>
        </div>

        <hr class="my-2" />
        <!-- Merchant section -->
        <div class="inline-flex justify-center items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="0.75em"
            viewBox="0 0 640 512"
          >
            <style>
              svg {
                fill: #6b7280;
              }
            </style>
            <path
              d="M36.8 192H603.2c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0H121.7c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224V384v80c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V384 224H320V384H128V224H64zm448 0V480c0 17.7 14.3 32 32 32s32-14.3 32-32V224H512z"
            />
          </svg>
          <!-- Merchant name -->
          <p class="text-gray-600 font-semibold ml-2">
            {{ orderItem.merchant.fullname }}
          </p>
        </div>
        <div>
          <!-- Merchant Email -->
          <p class="text-gray-400 ml-6">
            {{ orderItem.merchant.email }}
          </p>
          <!-- Merchant Telephone -->
          <p class="text-gray-400 ml-6">
            {{ orderItem.merchant.phoneNum }}
          </p>
        </div>

        <hr class="my-2" />
        <div class="inline-flex">
          <!-- Qty -->
          <p class="text-gray-600 font-semibold">{{ quantity }}</p>
          <p class="ml-2"> item(s) x</p>
          <!-- Price/item -->
          <p class="ml-1 text-lg font-semibold">
            {{ orderItem.price | currency : "MYR " }}
          </p>
        </div>

        <hr class="my-2" />
        <!-- Total Price -->
        <p class="text-lg">Total:</p>
        <p class="text-2xl font-semibold">{{ orderItem.price * quantity | currency : "MYR " }}</p>

        <!-- Checkout now button with credit card icon -->
        <button
          class="flex items-center justify-center bg-blue-500 hover:bg-blue-600 text-white rounded-lg px-4 py-3 mt-4 w-full"
          (click)="onSubmit()"
        >
          <i class="fa fa-credit-card mr-2"></i>
          <p class="font-semibold">Checkout Now</p>
        </button>
      </div>
    </div>
  </div>
</div>
