<div class="bg-white">
  <div class="flex justify-center h-screen">
    <div class="hidden bg-cover lg:block lg:w-2/3">
      <img
        src="../../../assets/images/bg-genting.webp"
        alt="background"
        class="object-cover w-full h-full"
      />
    </div>
    <div
      class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6 bg-whiteBackground"
    >
      <div
        class="flex-1 py-14 px-10 border border-border rounded-lg shadow-lg lg:shadow-none lg:border-none lg:p-0"
      >
        <div class="flex items-center justify-center pb-5">
          <img
            src="../../../assets/icons/logo-placeholder-large.svg"
            alt="logo"
          />
        </div>
        <div class="mt-8">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <!-- Email -->
            <div>
              <label for="email" class="block mb-2 text-sm text-gray-600"
                >Email Address</label
              >
              <input
                formControlName="email"
                id="email"
                placeholder="user@example.com"
                class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
              />
            </div>

            <!-- Password -->
            <div class="mt-6">
              <div>
                <label class="block mt-4 text-sm text-gray-600">Password</label>
                <div class="relative">
                  <input
                    formControlName="password"
                    [type]="passwordFieldType"
                    placeholder="Enter your password"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                  />
                  <button
                    type="button"
                    class="absolute inset-y-0 right-0 mr-5 flex items-center cursor-pointer box-border"
                    (click)="togglePasswordVisibility()"
                  >
                    <i
                      *ngIf="passwordFieldType === 'password'"
                      class="fa fa-eye text-gray-400"
                    ></i>
                    <i
                      *ngIf="passwordFieldType === 'text'"
                      class="fa fa-eye-slash text-gray-400"
                    ></i>
                  </button>
                </div>
              </div>
            </div>

            <!-- repassword Password -->
            <div class="mt-6">
              <div>
                <label class="block mt-4 text-sm text-gray-600"
                  >Re-Password</label
                >
                <div class="relative">
                  <input
                    formControlName="repassword"
                    [type]="repasswordFieldType"
                    placeholder="Enter your password"
                    class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-lg focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40"
                  />
                  <button
                    type="button"
                    class="absolute inset-y-0 right-0 mr-5 flex items-center cursor-pointer box-border"
                    (click)="toggleRePasswordVisibility()"
                  >
                    <i
                      *ngIf="repasswordFieldType === 'password'"
                      class="fa fa-eye text-gray-400"
                    ></i>
                    <i
                      *ngIf="repasswordFieldType === 'text'"
                      class="fa fa-eye-slash text-gray-400"
                    ></i>
                  </button>
                </div>
              </div>
            </div>
          </form>

          <!-- Change password Button -->
          <div class="mt-6">

            <button
              type="submit"
              class="w-full px-4 py-2.5 tracking-wide text-white transition-colors duration-200 transform bg-blue-500 rounded-md hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50 flex justify-center items-center"
              (click)="onSubmit()"
            >
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="mr-3">
              <style>svg{fill:#ffffff}</style>
              <path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/>
            </svg>
              Change password
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
