<div class="card border rounded-lg overflow-hidden m-4 shadow-md w-64">
  <a (click)="goToProductDetail(product._id)" class="card">
    <img [src]="getProductImageURL(product.image)"
      alt="product {{ product._id }} photo"
      class="card-cover w-full h-40 object-center object-cover"
    />
    <!-- Content Container -->
    <div class="p-4 h-[17rem]">
      <!-- TITLE -->
      <h2 class="card-title text-md mb-1 line-clamp-2">{{ product.title }}</h2>
      <!-- CATEGORY -->
      <p class="text-sm text-darkGrey mb-4">{{ product.category }}</p>
      <!-- Location -->
      <div class="flex mb-2">
        <i class="fa fa-map-marker text-primary text-sm"></i>
        <p class="ml-2 text-sm text-darkGrey mr-1">{{ product.location }}</p>
      </div>
      <!-- RATING & SOLD -->
      <div class="flex mb-2 items-center">
        <!-- Rating -->
        <i class="fa fa-star text-yellow-400 text-sm"></i>
        <p class="ml-2 text-sm text-darkGrey mr-1">{{ product.rating | number:'1.1-1' }}</p>
        <!-- Divider -->
        <div class="mx-2 w-1 h-1 bg-darkGrey rounded-full"></div>
        <!-- Sold -->
        <p class="text-sm text-darkGrey mr-1">{{ product.soldQty == null || product.soldQty === 0 ? '0' : product.soldQty }} Purchased </p>
      </div>
      <!-- Days -->
      <!-- RATING -->
      <div class="flex mb-2">
        <i class="fa fa-calendar text-darkGrey text-sm"></i>
        <p class="ml-2 text-sm text-darkGrey mr-1">{{ product.tripDays }} Days</p>
      </div>
      <!-- MERCHANT -->
      <div class="flex items-start justify-start">
        <svg xmlns="http://www.w3.org/2000/svg" height="0.75em" viewBox="0 0 640 512" class="mt-1 mr-2">
          <style>svg{fill:#6b7280}</style>
          <path d="M36.8 192H603.2c20.3 0 36.8-16.5 36.8-36.8c0-7.3-2.2-14.4-6.2-20.4L558.2 21.4C549.3 8 534.4 0 518.3 0H121.7c-16 0-31 8-39.9 21.4L6.2 134.7c-4 6.1-6.2 13.2-6.2 20.4C0 175.5 16.5 192 36.8 192zM64 224V384v80c0 26.5 21.5 48 48 48H336c26.5 0 48-21.5 48-48V384 224H320V384H128V224H64zm448 0V480c0 17.7 14.3 32 32 32s32-14.3 32-32V224H512z"/>
        </svg>
        <p class="text-sm text-darkGrey mb-3">{{ product.merchant.fullname }}</p>
      </div>
      <!-- PRICE -->
      <p class="card-price text-md font-bold mb-4">{{ product.price | currency:'MYR ' }}</p>
    </div>
  </a>
</div>
