<app-header></app-header>

<div class="flex container mx-auto my-10">
  <!-- Image Container (1/2 width) -->
  <div class="flex w-2/5 justify-center items-start">
    <img src="{{ product.image }}" alt="Product Photo" class="w-[348px] h-[348px] object-cover rounded-lg">
  </div>

  <!-- Detail Containers (1/2 width) -->
  <div class="ml-8 w-3/5">
    <h1 class="text-2xl font-semibold">{{ product.title }}</h1>
    <p class="my-4 text-lg text-gray-700">{{ product.description }}</p>

    <div class="mt-8">
      <hr>
    </div>

    <!-- Detail Merchant Container -->
    <div>
      <h2 class="mt-3 text-lg font-semibold text-gray-600">{{ product.merchant.name }}</h2>
      <p class="mt-2 text-textPrimary">{{ product.merchant.description }}</p>
    </div>

    <!-- Buy Now Button -->
    <div class="mt-8 flex items-center">
      <p class="text-3xl font-bold text-primary mr-10">{{ product.price | currency:'MYR ' }}</p>
      <button class="bg-primary text-white py-3 px-7 rounded-full text-lg font-semibold shadow-md hover:bg-darkPrimary transition duration-300">
        Buy Now
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
