<!-- !? Product Section -->
<div id="trending">
  <app-header></app-header>

  <!-- //* 5 Featured Products -->
  <div class="lg:container mx-auto mt-10 lg:flex flex-row justify-between items-center">
    <p class="font-semibold lg:text-2xl lg:ml-0 text-xl my-3 ml-4">Trending Packages</p>
    <div (click)="goToAllProducts()" class="cursor-pointer">
      <p class="text-primary lg:font-semibold lg:ml-0 ml-4">View all products</p>
    </div>
  </div>

  <div class="my-[13.5rem]" *ngIf="isLoading">
    <app-loading-indicator></app-loading-indicator>
  </div>

  <div class="px-4 md:px-10 mx-auto w-full -m-24 mt-2 mb-10 lg:container flex">
    <!-- Left Button -->
    <button class="carousel-button left" (click)="scrollCarousel(-1)" *ngIf="!isLoading">
      <i class="fa fa-chevron-left border border-gray-300 rounded-full px-3 py-2 shadow-md text-darkGrey"></i>
    </button>

    <!-- Card Container -->
    <div class="flex overflow-x-auto p-4 cursor-pointer">
      <!-- Card -->
      <div *ngFor="let product of productList" class="flex-none">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>

    <!-- Right Button -->
    <button class="carousel-button right" (click)="scrollCarousel(1)" *ngIf="!isLoading">
      <i class="fa fa-chevron-right border border-gray-300 rounded-full px-3 py-2 shadow-md text-darkGrey"></i>
    </button>

  </div>
</div>

<!-- !?Why choose us? -->
<div id="why-choose-us">
  <app-why-choose-us></app-why-choose-us>
</div>
