<p class="ml-72">Products works!</p>
<app-merchant-sidebar></app-merchant-sidebar>

<div class="relative md:ml-64 bg-blueGray-100">
  <app-merchant-header-stats></app-merchant-header-stats>
  <div class="px-4 md:px-10 mx-auto w-full -m-24">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-whiteBackground">
      <div class="rounded-t mb-0 p-4 border-0">
        <div class="flex flex-wrap items-center">
          <div class="relative w-full px-4 max-w-full flex-grow flex-1">
            <h3 class="font-semibold text-lg"> Products List </h3>
          </div>

          <div class="buttonContainer">
            <button
              (click)="onAddProduct()"
              class="bg-primary text-white active:bg-blueGray-600 text-xs font-bold uppercase px-4 py-3 rounded-xl shadow hover:shadow-md outline-none focus:outline-none mr-2 mb-1"
              type="button"
              style="transition: all 0.15s ease 0s;"
            >
              <i class="fa fa-plus mr-3"></i>
              Add Product
            </button>
          </div>
        </div>
      </div>
      <div class="block w-full overflow-x-auto px-4 pb-2">
        <!-- Merchant table -->
        <table datatable [dtOptions]="dtOptions" class="row-border items-center w-full bg-transparent border-collapse py-5">
          <thead>
            <tr>
              <!-- ID -->
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left" >
                ID
              </th>
              <!-- Name -->
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Name
              </th>
              <!-- Description -->
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Description
              </th>
              <!-- Price -->
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Price
              </th>
              <!-- Created At -->
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Created At
              </th>
              <!-- Actions -->
              <th class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor = "let item of productsDummy">
              <!-- ID -->
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 font-bold items-center justify-center">
                {{ item.id }}
              </td>
              <!-- Name -->
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <p class="font-semibold mb-2">{{ item.name }}</p>
              </td>
              <!-- Description -->
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs p-4">
                {{ item.description }}
              </td>
              <!-- Status -->
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 uppercase">
                <!-- Format currency into Malaysian Ringgit and slice 3 digits -->
                {{ item.price | currency: 'MYR ' | slice: 0: -3 }}
              </td>
              <!-- Created At -->
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                {{ item.created_at | date: 'dd/MM/yyyy HH:mm'}}
              </td>
              <!-- Actions -->
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
                <!-- Edit Button -->
                <button
                  (click)="onViewInfoProduct()"
                  class="w-11 bg-blue-400 text-white hover:bg-blue-500 active:bg-blue-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                  <i class="fa fa-info fa-lg"></i>
                </button>

                <!-- Edit Button -->
                <button
                  (click)="onEditProduct()"
                  class="w-11 bg-yellow-400 text-white hover:bg-yellow-500 active:bg-yellow-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                  <i class="fa fa-gear fa-lg"></i>
                </button>
                <!-- Delete Button -->
                <button
                  (click)="onDeleteProduct()"
                  class="w-11 bg-red-400 text-white hover:bg-red-500 active:bg-red-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 mb-1"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                  <i class="fa fa-trash fa-lg"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
