<app-sidebar></app-sidebar>

<div class="relative md:ml-64 bg-blueGray-100">
  <h2 class="text-start text-2xl font-bold mt-5 ml-5">Analytics</h2>

  <!-- Total merchants -->
  <div class="w-1/2 mx-auto my-10">
    <p class="text-center text-xl font-bold">Total Merchants</p>
    <canvas id="totalMerchantsChart"></canvas>
  </div>

  <!-- Verified Merchants -->
  <div class="w-1/2 mx-auto my-10">
    <p class="text-center text-xl font-bold">Verified Merchants</p>
    <canvas id="verifiedMerchantsChart"></canvas>
  </div>

  <!-- Pending Merchants -->
  <div class="w-1/2 mx-auto my-10">
    <p class="text-center text-xl font-bold">Pending Merchants</p>
    <canvas id="pendingMerchantsChart"></canvas>
  </div>

  <!-- Rejected Merchants -->
  <div class="w-1/2 mx-auto my-10">
    <p class="text-center text-xl font-bold">Rejected Merchants</p>
    <canvas id="rejectedMerchantsChart"></canvas>
  </div>
</div>
