<footer class="footer">
  <div class="px-6 py-12 mx-auto">
    <hr class="my-6 border-gray-200 md:my-8 dark:border-gray-700">

    <div class="flex items-center justify-between">
      <a href="#">
        <img class="w-auto h-7" src="../../../assets/icons/ic_logo.png" alt="Logo">
      </a>

      <div class="flex -mx-2 justify-center">
        <!-- GMAIL -->
        <a href="mailto:renaldhifahrezi48@gmail.com" class="mx-2 text-darkGrey transition-colors duration-300 hover:text-blue-500" aria-label="Gmail">
          <img src="../../../assets/icons/mail.svg" alt="Gmail" height="24" width="24" />
        </a>

        <a href="https://github.com/renaldhif/bit306-promo-tourism-system" target="_blank" class="mx-2 text-darkGrey transition-colors duration-300  hover:text-blue-500" aria-label="Github">
          <img src="../../../assets/icons/github.svg" alt="Github" height="24" width="24" />
        </a>
      </div>
    </div>
  </div>
</footer>
